<body>
        <button onclick="window.location.href='/'" class="btn btn-lg btn-primary btn-block">Home</button>
</br>
        <form action="/notes" method="post">
            <input type="text" name="fname" placeholder="Title" /><br />
            <textarea name="content" placeholder="Enter your content here"></textarea>
            </br>
            <button>Save</button>
        </form>
</body>