
<body>
    <textarea placeholder="Title here" name="titletext" id="titleid"></textarea>
    <textarea placeholder="Contents here" name="contenttext" id="contentid"></textarea>
    <button id="read">Read</button>




    <script type="text/javascript" src="main.js"> </script>
</body>